* {
    font-family: "JetBrains Mono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: rgba(26, 27, 38, 0.75);
    color: #c0caf5;
    font-family: "JetBrains Mono Nerd Font", feather;
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(0, 0, 8, .7);
    margin: 6px 12px;
    padding: 0 6px;
    border-radius: 15px;
}

.modules-left {
    padding: 0;
}

.modules-center {
    padding: 0 12px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 0 12px;
    border-radius: 15px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background: rgba(26, 27, 38, 0.9);
}

#workspaces button {
    background: transparent;
    font-family: "JetBrains Mono Nerd Font", feather;
    font-weight: 900;
    font-size: 14.5pt;
    color: #c0caf5;
    border: none;
    border-radius: 15px;
    padding: 3px 8px;
}

#tray {
    background: transparent;
    font-family: "JetBrains Mono Nerd Font", feather;
    font-weight: 900;
    font-size: 14.5pt;
    color: #c0caf5;
    border: none;
    border-radius: 15px;
    padding: 3px 8px;
}

#workspaces button.active {
    background: rgba(92, 124, 250, 0.3);
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    box-shadow: none;
}

#custom-arch {
    margin-left: 6px;
    padding: 0 12px;
    font-size: 28px;
    transition: color .5s;
}

#custom-arch:hover {
    color: #1793d1;
}
